Q1. How do you comment code in Python? What are the different types of comments?

In [20]:
# print('hello')
"""
print('hello')
"""

"\nprint('hello')\n"

Code can be commented in python using # or """.
There is 2 type of comments;
1. Single Line Comment
2. Multi Line Comment

Q2. What are variables in Python? How do you declare and assign values to variables?

There are different types of variables in python;

1. Integer
Int_A = 10
2. Float
Fl_B = 7.89
3. Boolean
True or False
4. String
Str_1 = 'python'
5. List
L1 = [1,2,0.5,'pws']
6. Tuple
T1 = (3, 5, 8, [2,1])
7. Set 
S1 = {1,4,6}
8. Dictionary
D1 = {'keys':'values'}

Q3. How do you convert one data type to another in Python?

In [27]:
# One data type can be converted to other just by doing typecasting.

A = 10
Var = str(A)
type(Var)

str

Q4. How do you write and execute a Python script from the command line?

python first_script.py
Hello World!

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [37]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [39]:
#Complex numbers are the numbers that contain one real and one imaginary part. 
#a+ib

#Python representation - 
Com_No = 4+5j
type(Com_No)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [40]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

This variable belong to float type.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [50]:
name = 'Rivasree Ghosh'

In [51]:
print('My name is {}'.format(name))

My name is Rivasree Ghosh

Q10. Given the string "Hello, World!", extract the substring "World".

In [58]:
str = "Hello, World!"
len(str)

13

In [64]:
str[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [65]:
is_student = False
type(is_student)

bool